@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap");

* {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(to top, #1f2c3a 0%, #2f3c4742 100%),
   url(images/R.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}
header {
  background-color: rgb(27, 55, 73);
  width: 100%;
  position: relative; 
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}
 .logo img{
  height: 90px;
} 
section {
  padding: 110px ;
} 
.navigation h2{
  color: #ffffff;  
  font-size: 1.4em; 
  font-weight: 800;
  padding-left: 30px;
  text-align: right;
}
.navigation {
  color: #ffffff;  
  font-size: 1.1em; 
  font-weight: 500;
  padding-left: 30px;
  text-align: right;
}
.title {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 0px; 
  margin-top: 50px;
}
.cards {
  width: 100%;
  /* min-height: 100vh; */
  display: flex; 
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  background-color: #ffffff;
  width: 30%;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 25px 25px 0 25px;
  padding: 10px ;
  margin: 18px;
  transition: 0.7s ease;
  img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20px 20px 0 25px;

  }
}
.card:hover {
  transform: scale(1.1);
}
.img {
  font-size: 1em;
  text-align: center;
}
.name {
  text-decoration: none;
  text-align: center; 
  color: rgb(27, 55, 73);
  font-size: 1.2em;
  font-weight: 700;
  /* margin: 10px; */
}
.description {
  font-size: 17px;
  color: rgb(27, 55, 73);
  text-align: center;
}
.Button {
  border: none;
  font-size: 16px;
  color: floralwhite;
  padding: 5px 10px;
  background-color: rgb(27, 55, 73);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
 .card-link {
  text-align: center;
}
.footer {
  background-color: rgb(27, 55, 73);
  color: #ffffff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.single-footer h4 {
text-transform: capitalize;
font-size: 15px;
}
.footer-social a {
  color: #ffffff;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: left;
  margin-right: 10px;
}
.footer-social {
  margin-top: 20px;
}
.single-footer ul{
  list-style: none;
}
.single-footer ul li{
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}
.single-footer ul li a{
  color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
}
.single-footer ul li a i{
position: absolute;
  left: 0;
  top: 5px;
}